*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Montserrat', sans-serif;
}

.container-flex{
    display: flex;
}

/* header */
header{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: calc(100vh - 100px);
    background-color: black;
}

header .container-head{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 130px;
    height: 100%;
    margin-left: 30px;
    margin-top: 30px;
}


header .container-head .head-top .container-logo{
    margin-bottom: 30px;
}



header .container-head .head-top .list-header #first-item{
    list-style-type: none;
    display: flex;
    align-items: flex-end;
    color: white;
    margin-bottom: .5em;
}


header .container-head .head-top .list-header ul{
    list-style-type: none;
    display: flex;
    align-items: flex-end;
    color: rgba(255, 255, 255, 0.600);
    margin-bottom: .5em;
}

header .container-head .head-top .list-header #first-item li:first-child{
    height: 27px;
    margin-right: 1em;
}

header .container-head .head-top .list-header #first-item li img{
    height: 100%;
    filter: contrast(1);
}


header .container-head .head-top .list-header ul li img{
    height: 100%;
    filter: contrast(0.6);
}

header .container-head .head-top .list-header #first-item li{
    font-size: 1.3em;
}

header .container-head .head-top .list-header ul li:first-child{
    height: 20px;
    margin-right: 1em;
}

header .container-head .head-top .list-header p {
    margin-bottom: .8em;
    color: white;
}

header .container-head .head-top .list-header ul li .fa-square-plus{
    font-size: 1.5em;
}




header .container-head .head-bottom .download-container{
    display: flex;
    align-items: center;
    /* test */
    height: 30px;
    color: rgba(255, 255, 255, 0.600);
    margin-bottom: 20px;
    padding-bottom: 3px;
    border-bottom: 1px solid grey;
}

header .container-head .head-bottom .download-container .download-image{
    height: 20px;
    margin-right: .5em;
}

header .container-head .head-bottom .download-container .download-image img{
    height: 100%;
    filter: contrast(0.6);
}


header .container-head .head-bottom .profile-container{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

header .container-head .head-bottom .profile-container .profile-image{
    width: 31px;
    background-color: gray;
    padding: 5px;
    border-radius: 50%;
    margin-right: 5px;
}


header .container-head .head-bottom .profile-container .profile-image img{
    width: 100%;
}

header .container-head .head-bottom .profile-container .text-profile{
    color: white;
}


/* /header */





/* main */
main{
    width: calc(100% - 200px);
    height: calc(100vh - 100px);
    overflow-y: auto;
    background-color: #141922;
}

main .container-fixed{
    position: fixed;
    width: 100%;
    z-index: 2;
}

/* upgrade bar */


main .upgrade-bar{
    position: relative;
    height: 50px;
    width: 100%;
    background-color: black;
    opacity: .7;

}

main .upgrade-bar .upgrade-button{
    position: absolute;
    right: 230px;
    top: 10px;
}

main .upgrade-bar .upgrade-button button{
    padding: .5em;
    border-radius: 16px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

/*/ upgrade bar */


/* link main */
main .link-main{
    margin:10px 0 30px;
}

main .link-main ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
    margin-right: 200px;
    color: gray;
}


/* link main */
/* container album */
main .container-album{
    
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

main .container-album:first-child{
    margin-top: 120px;
}


main .container-album h2{
    margin-bottom: 1.5em;
    color: white;
}

main .container-album .row {
    display: flex;
    gap: 20px;
}


main .container-album .row .col{
    width: calc(100% / 6 - 20px / 6 * 5);
    height: 300px;
    background-color: green;
}

main .container-album .row .col .image-album{
    height: 200px;
}

main .container-album .row .col .image-album img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

main .container-album .row .col>*{
    margin-bottom: 10px;
}

main .container-album .row .col .title-album{
    text-align: center;
    color: white;
}

main .container-album .row .col .description-album{
    text-align: center;
    color: grey;
}


/* /main */

/* footer */


footer .container-playbar{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100px;
    background-color: black;
}


footer .container-playbar .playbar-left{
    width: 100px;
    background-color: blue;
    height: 30px;
}


footer .container-playbar .playbar-center{
    width: 100px;
    background-color: blue;
    height: 30px;
}

footer .container-playbar .playbar-right{
    width: 100px;
    background-color: blue;
    height: 30px;
}




/* /footer */
